body {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-auto-rows: 20% 10% 10% auto;
  font-family: fantasy;
  background-color: wheat;
}

.instrument-select-container {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

#instrument-info {
  grid-row: 4/5;
  grid-column: 2/4;
  display: grid;
  grid-template-rows:  10% 30% auto;
  grid-template-columns: 45% 10% 45%;
  height: 100px;
  margin-top: 20px;
}

.instrument-name-heading {
  grid-row: 1/2;
  grid-column: 1/2;
}

.instrument-list-heading {
  grid-row: 1/2;
  grid-column: 3/4;
}


.instrument-info-paragraph {
  grid-row: 3/4;
  grid-column: 1/2;
}


.instrument-info-list {
  grid-row: 3/4;
  grid-column: 3/4;
}
